P2/Debug/CL.write.1.tlog
P2/Debug/Phase II.exe
P2/Debug/Phase II.exe.intermediate.manifest
P2/Debug/Phase II.ilk
P2/Debug/Phase II.lastbuildstate
P2/Debug/Phase II.pdb
P2/Debug/Phase II.write.1.tlog
P2/Debug/basicsP2.lib
P2/Debug/cl.command.1.tlog
P2/Debug/link.command.1.tlog
P2/Debug/link.read.1.tlog
P2/Debug/link.write.1.tlog
P2/Debug/main.obj
P2/Debug/mt.command.1.tlog
P2/Debug/mt.read.1.tlog
P2/Debug/mt.write.1.tlog
P2/Debug/vc100.idb
P2/Debug/vc100.pdb
P2/Phase II.opensdf
P2/Phase II.sdf
P2/basics/Debug/CL.read.1.tlog
P2/basics/Debug/CL.write.1.tlog
P2/basics/Debug/Lib-link.read.1.tlog
P2/basics/Debug/Lib-link.write.1.tlog
P2/basics/Debug/StdAfx.obj
P2/basics/Debug/basics.lastbuildstate
P2/basics/Debug/basics.lib
P2/basics/Debug/basics.pch
P2/basics/Debug/basics.vcxprojResolveAssemblyReference.cache
P2/basics/Debug/basics.write.1.tlog
P2/basics/Debug/cl.command.1.tlog
P2/basics/Debug/li.obj
P2/basics/Debug/lib.command.1.tlog
P2/basics/Debug/lmath.obj
P2/basics/Debug/pointSet.obj
P2/basics/Debug/stopWatch.obj
P2/basics/Debug/vc100.idb
P2/basics/Debug/vc100.pdb
P2/basicsP2/Debug/CL.read.1.tlog
P2/basicsP2/Debug/CL.write.1.tlog
P2/basicsP2/Debug/Lib-link.read.1.tlog
P2/basicsP2/Debug/Lib-link.write.1.tlog
P2/basicsP2/Debug/basicsP2.lastbuildstate
P2/basicsP2/Debug/basicsP2.write.1.tlog
P2/basicsP2/Debug/cl.command.1.tlog
P2/basicsP2/Debug/lib.command.1.tlog
P2/basicsP2/Debug/pointSetArray.obj
P2/basicsP2/Debug/trist.obj
P2/basicsP2/Debug/vc100.idb
P2/basicsP2/Debug/vc100.pdb
P2/ipch/
P3/Debug/
P3/GL/
P3/Phase II.sdf
P3/Phase II.sln
P3/Phase II.sln.old
P3/Readme.docx
P3/Readme.pdf
P3/UpgradeLog.XML
P3/_UpgradeReport_Files/
P3/basics/
P3/basicsP2/
P3/glut.dll
P3/glut.lib
P3/glut32.dll
P3/glut32.lib
P3/input.txt
P3/lab 4.vcproj
P3/lab 4.vcproj.NUSSTF.dcschl.user
P3/lab 4.vcxproj
P3/lab 4.vcxproj.filters
P3/lab 4.vcxproj.user
P3/main.cpp
P3/savefile.txt
P2/Debug/CL.read.1.tlog
P2/Phase II.suo
Phase II.suo